<div class="container">
  <div class='registration'>  
    <div class="sign-in-view">
      <h4>Log in</h4>
      <%= form_tag("/verify", method: "post") do %>
      <div>
        <%= email_field_tag :email, nil, placeholder: "email", :autofocus => true %>
      </div>
      <div>
        <%= password_field_tag :password, nil, placeholder: 'password' %>
      </div>
      <% if flash[:error] %>
        <div class="flash-error animated fadeIn">
          <span><%= flash[:error] %></span>
        </div>
      <% end %>
      <% if flash[:register] == true %>
        <script type="text/javascript">
          $(document).ready(function(){
            $('.sign-in-view').toggle();
            $('.reg-view').toggle();
          });
        </script>
      <% end %>
      <div>
        <%= submit_tag "Sign in", id: 'sign-in-btn', class: 'btn' %>
      </div>
      <a class="toggle-reg" href="">Register</a>
      <% end %>
    </div>
    <div class="reg-view">
      <h4>Register</h4>
      <%= form_tag("/register", method: "post") do %>
      <div>
        <%= email_field_tag :email, nil, placeholder: "email", :autofocus => true %>
      </div>
      <div>
        <%= password_field_tag :password, nil, placeholder: 'password' %>
      </div>      
      <div class>
      <%= password_field_tag :key_code, nil, placeholder: 'invite code' %>
      </div>
      <% if flash[:error] %>
        <div class="flash-error animated fadeIn">
          <span><%= flash[:error] %></span>
        </div>
      <% end %>
      <div>
        <%= submit_tag "Register", id: 'reg-btn', class: 'btn' %>
      </div>
      <a class="toggle-reg" href="">Sign in</a>
      <% end %>
    </div>
  </div>
</div>