<!DOCTYPE html>
<html>
<head>
  <title>Yosemite Scheduler</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%='sign-in' if request.path == "/users/sign_in"  %>">

<%= yield %>

</body>
</html>
