<!DOCTYPE html>
<html>
<head>
  <title>Yosemite Bum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%='sign-in' if request.path == "/"  %><%= 'home' if request.path != "/" %>">
<%= yield %>
<% if session[:user] %>
  <header style="background-color: rgba(0,0,0,0.6); height: 50px; padding: 20px; float: right;"><a style="font-size: 20px; line-height: 50px;" href="/" class="inverse header-anchor">Logout</a></header>
<% end %>
</body>
</html>
